/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*****General Style Here*****/
   html {
     font-size: 16px;
   }

   body {
     font-family: 'Open Sans', sans-serif;
     font-size: 1em;
   }

   ul,
   ol {
     list-style-type: none;
     padding:0;
   }

   a {
     color: #f5f4f3;
     text-decoration: none;
   }

   h2 {
     font-family: 'Raleway', sans-serif;
     font-size:1.75em;
   }

   h3,
   h4 {
     font-family: 'Raleway', sans-serif;
   }

   p {
     font-family: 'Open Sans', sans-serif;

   }

   img {
     width: 100%;
     min-height:100%;
   }

   figure {
     margin: 0;
   }

   .content-wrapper {
     width:100%;
   }

/*****Header Content Here*****/

   header,
   footer {
       display: flex;
       justify-content: center;
       align-items: center;
       flex-flow: row wrap;
       background-color: #f5f4f3;
   }

   header figure {
      width: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
      flex: 1;
    }

   header nav {
     justify-content: flex-end;
     align-items: flex-end;
     flex-flow: row wrap;
     position: absolute;
     width: 90%;
     display: flex;
   }

   header nav ul {
     list-style-type: none;
     margin-top: 0;
   }

   nav ul li {
     background:linear-gradient(45deg, #fffd45, #a12885);
     border-radius:6px;
     box-shadow: 3px 8px 20px;
     margin: .30em;
   }

   nav ul li a {
     text-decoration: none;
     color:#f5f4f3;
     text-transform:uppercase;
     padding:10px 20px;
     font-size: .75em;
   }

   header .content-wrapper {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: row wrap;
     margin: 1em;
   }

   .content-wrapper img {
     width: 50%;
     position: relative;
     margin-bottom: 2em;
   }

   .header-divider {
     border: 2px solid #a12885;
     width: 100%;
   }

/*****Main Page here*****/
  main .header-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/bgheader.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 400px;
    width:100%;
  }

  .content-wrapper h1 {
    font-size: 1.75em;
    color: #3c4441;
    font-family: 'Raleway', sans-serif;
    width: 80%;
    padding-top: 200px;
    margin: 1.25em;
  }

  span {
    color: #a12885;
    font-weight:bolder;
  }

  /*****WORK SAMPLE*****/

  #portfolio {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding-top: 2em;
  }

  .content-wrapper h2 {
    color: #a12885;
    text-align: center;
  }

  .work {
    text-align:center;
  }

  .work img {
    width: 80%;
    border:2px solid #a12885;
    box-shadow: 3px 8px 10px #a12885;
  }

  .work .description p {
    font-size: .875em;
    width:80%;
    margin: auto;
    padding-bottom: 3.75em;
  }

  .work .description h3 {
    width: 70%;
    margin:auto;
    font-size: 1.125em;
    padding:1.25em;
  }

  .more-work {
    padding-bottom:2em;
    padding-top:0;
  }

  .more-work p {
    text-align:center;
    background:linear-gradient(45deg, #fffd45, #a12885);
    border-radius:6px;
    box-shadow: 3px 8px 20px;
    font-weight:bold;
    color:#f5f4f3;
    padding: 10px 10px;
  }

  .more-work a {
    text-decoration: none;
  }

/*****About Page*****/
  #about {
    background-color: #a12885;
  }

  #about .content-wrapper h2 {
  text-align:center;
  padding:1.75em;
  color: #f5f4f3;
  }

  .about-me figure {
    width: 60%;
    border: 2px solid #fffd45;
    box-shadow: 3px 8px 20px #fffd45;
    margin: auto;
  }

  .about-description {
    padding: 30px 20px 30px 20px;
    color:#f5f4f3;
    text-align:left;
    font-size:.875em;
    width:80%;
    margin: auto;
  }

  .about-description p {
    padding-bottom: .75em;
  }

  .list {
    padding-left: 1.25em;
    list-style: circle;
  }

  .meet {
    font-style:italic;
    font-weight:800;
    text-transform:uppercase;
    width: 100%;
    text-align:center;
    color:#a12885;
  }

/*****Footer Section Here*****/
  #contact {
    background-color: #3c4441;
    padding-top: 2em;
  }

  #contact .content-wrapper h2 {
    font-size: 1.75em;
    color: #f5f4f3;
  }

  .contact-section {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }

  .contact-section h3 {
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 1.25em;
    color: #fffd45;
  }

  .contact-section p {
    text-align:center;
    font-size: 1.125em;
    padding-bottom:1.875em;
    color: #f5f4f3;
  }

  .contact-section a {
    color: #f5f4f3;
    width:
  }

  .contact-section a img {
    padding: 20px;
    justify-content: space-around;
    width: 2.25em;
    padding-bottom: 3.75em;
  }


/*****Copyright*****/
  .copyright {
    background-color: #f5f4f3;
    width:100%;
    text-align: center;
    border-top: 1px solid #6a7821;
  }

  .copyright p {
    color:#3c4441;
    font-size:.75em;
  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width:768px) {
   /*Tablet styles here*/
   body {
     font-family: 'Open Sans', sans-serif;
     font-size: 1em;
     height: 100%;
     text-align: left;
     color: #e2e3ed;
     width:100%;
   }

  header {
    justify-content: space-between;
    }

   header .content-wrapper {
    width:100%;
    justify-content: space-between;
   }

   figure a {
     padding-bottom:0;
   }

   header figure {
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
    padding:0;
   }

   .content-wrapper img {
    position: relative;
    margin-bottom: 0;
    width: 30%;
    padding-left: 1.25em;
    }

    .figure a {
      flex: 1;
      width: 100%;
    }

    header nav ul {
      list-style-type: none;
      font-weight: 800;
      width: 65%;
      display: flex;
      justify-content: space-between;
      font-size: .750em;
    }

    header nav {
      width: 90%;
    }

    nav ul li a {
      padding: 10px 20px;
      font-size: 1em;
   }

   .header-divider {
     border: none;
   }

/*****Main Page*****/
  .content-wrapper h1 {
      width: 80%;
      font-size: 2.25em;
  }

/*****Work Page*****/
  .work {
    display: flex;
    flex-flow: row;
    padding:30px 0 80px 20px;
  }

  .work a {
    width:60%;
  }

  .work .description {
    width:50%;
  }

  .work .description h3 {
    padding-top:0;
    text-align:left;
    margin:0;
    font-size: 1em;
    color:#3c4441;
  }

  .work .description p {
    padding:0;
    text-align:left;
    margin-left: 1.25em;
    color:#3c4441;
  }

  .work img {
    border:2px solid #a12885;
    box-shadow: 3px 8px 10px #a12885;
  }

  .more-work {
    padding-bottom:3em;
  }

/*****About Page*****/
  .about-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
  }

  .about-me figure {
    width: 40%;
    margin-top: 3em;
  }

  .about-description {
    width: 45%;
    margin-left: 0;
  }

   @media only screen and (min-width: 1200px) {
   /*Desktop styles here*/
   .content-wrapper img {
     padding-left: 2.5em;
     width:50%;
   }

   header nav {
     width: 60%;
     padding-left: 30%;
     justify-content: space-around;
   }

   header nav ul {
     font-weight: 800;
     padding: 50px 0 0px 40px;
     width: 90%;
   }

   nav ul li {
     font-size:1.5em;
   }

   nav ul li a {
     font-size: 1.25em;
   }

/*****Main Page*****/
  .content-wrapper h1 {
    font-size: 3.75em;
    padding-top: 300px;
  }

/*****Work Page*****/
  .content-wrapper h2 {
    font-size:2.25em;
    padding-bottom: 1.75em;
  }

 .work .description h3 {
    font-size:1.5em;
  }

  .work .description p {
    font-size:1.25em;
  }

  .more-work {
    width: 30%;
  }

  .more-work a {
    font-size:1.5em;
  }

/*****About Me Page*****/
  .about-me {
    padding-bottom:10%;
  }

  .about-me figure {
    margin:auto;
  }

  .about-description {
    font-size: 1em;
  }

  .meet p {
    font-size:2em;
  }
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
